@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-zinc-950 text-zinc-300 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  ::selection {
    @apply bg-indigo-500/30 text-white;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-zinc-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-700;
  }
}