---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}  

  <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Timeline</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="work-tab" data-toggle="tab" href="#work" role="tab" aria-controls="work" aria-selected="false">Works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="book-tab" data-toggle="tab" href="#book" role="tab" aria-controls="book" aria-selected="false">Books</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="timeline">
        <div class="t-container right">
          <div class="content">
            <h2>2008</h2>
            <p>
              Joined the Wonderland.<br />
            </p>
          </div>
        </div>
        <div class="t-container left">
          <div class="content">
            <h2>2009</h2>
            <p>
              IELTS 5.5 <br />
              IBM Cognos.
            </p>
          </div>
        </div>
        <div class="t-container right">
          <div class="content">
            <h2>2010</h2>
            <p>
              Aptech HDSE<br />
            </p>
          </div>
        </div>
        <div class="t-container left">
          <div class="content">
            <h2>2011</h2>
            <p>
              University of Greenwich<br />
              <small>Science in Computing</small>
            </p>
          </div>
        </div>
        <div class="t-container right">
          <div class="content">
            <h2>2012</h2>
            <p>
              Japanese Alphabet
            </p>
          </div>
        </div>
        <div class="t-container left">
          <div class="content">
            <h2>2013</h2>
            <p>
              Japanese Vitec Level 2 – Fundamental Engineer (580/800).
            </p>
          </div>
        </div>
        <div class="t-container right">
          <div class="content">
            <h2>2014</h2>
            <p>
              Japanese – N5
            </p>
          </div>
        </div>
        <div class="t-container left">
          <div class="content">
            <h2>2015</h2>
            <p>
              Japanese – N4<br />
            </p>
          </div>
        </div>
        <div class="t-container right">
          <div class="content">
            <h2>2016</h2>
            <p>
              Udacity – Android Nano Degree<br />
            </p>
          </div>
        </div>
        <div class="t-container left">
          <div class="content">
            <h2>2017</h2>
            <p>
              Free Code Camp<br />
              <small>Responsive Web Design</small>
            </p>
          </div>
        </div>
        <div class="t-container right">
          <div class="content">
            <h2>2018</h2>
            <p>
              Free Code Camp<br />
              <small>Apis And Microservices</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h2>Brief</h2>
      <ul class="post-list">
        Sr.Project Lead on Software Development, Database Engineer, Full-stack Developer, Mobile Application, Financial System, Chart Engine, Blockchain.
      </ul>
      <h2>Skills</h2>
      <ul class="post-list">
        <ul class="nav nav-pills nav-justified" id="myTabSkills" role="tablistskills">
          <li class="nav-item">
            <a class="nav-link active" id="lang-tab" data-toggle="tab" href="#lang" role="tab" aria-controls="lang" aria-selected="true">Languages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="framework-tab" data-toggle="tab" href="#framework" role="tab" aria-controls="framework" aria-selected="false">Frameworks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="server-tab" data-toggle="tab" href="#server" role="tab" aria-controls="server" aria-selected="false">Servers</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContentSkills">
          <div class="tab-pane fade show active" id="lang" role="tabpanel" aria-labelledby="lang-tab">
            <div class="progress">
              <div class="progress-bar .progress-bar-striped bg-perl" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">PERL (6 months)</div>
            </div>
            <div class="progress">
              <div class="progress-bar .progress-bar-striped bg-python" role="progressbar" style="width: 2.5%;" aria-valuenow="2.5" aria-valuemin="0" aria-valuemax="100">Python (3 months)</div>
            </div>
            <div class="progress">
              <div class="progress-bar .progress-bar-striped bg-php" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">PHP (3 years)</div>
            </div>
            <div class="progress">
              <div class="progress-bar .progress-bar-striped bg-java" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Java (6 years)</div>
            </div>
            <div class="progress">
              <div class="progress-bar .progress-bar-striped bg-c" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">C/C++/Objective-C (1 years)</div>
            </div>
            <div class="progress">
              <div class="progress-bar .progress-bar-striped bg-js" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">Javascript (5 years)</div>
            </div>
            <div class="progress">
              <div class="progress-bar .progress-bar-striped bg-html" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">HTML (5 years)</div>
            </div>
            <div class="progress">
              <div class="progress-bar .progress-bar-striped bg-css" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">CSS (5 years)</div>
            </div>
            <div class="progress">
                <div class="progress-bar .progress-bar-striped bg-sql" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">PL/SQL (5 years)</div>
              </div>
          </div>
          <div class="tab-pane fade show" id="framework" role="tabpanel" aria-labelledby="framework-tab">
            Coming soon
          </div>
          <div class="tab-pane fade show" id="server" role="tabpanel" aria-labelledby="server-tab">
            Coming soon
          </div>
        </div>
      </ul>
    </div>
    <div class="tab-pane fade" id="work" role="tabpanel" aria-labelledby="work-tab">Coming soon</div>
    <div class="tab-pane fade" id="book" role="tabpanel" aria-labelledby="book-tab">Coming soon</div>
  </div>

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
