---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}  

  <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Timeline</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="work-tab" data-toggle="tab" href="#work" role="tab" aria-controls="work" aria-selected="false">Works</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="book-tab" data-toggle="tab" href="#book" role="tab" aria-controls="book" aria-selected="false">Books</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <!-- {{ content }} -->
      <!-- <p class="rss-subscribe"></p> -->
      <div class="timeline">
        <div class="t-container left">
          <div class="content">
            <h2>2000</h2>
            <p>Pascal in basic (When I was a student at secondary school)</p>
          </div>
        </div>
        <div class="t-container right">
          <div class="content">
            <h2>2008</h2>
            <p>
              Aptech HDSE (Started) <br />
              C and C++ in basic.
            </p>
          </div>
        </div>
        <div class="t-container left">
          <div class="content">
            <h2>2009</h2>
            <p>
              IELTS 5.5 <br />
              IBM Cognos Course.
            </p>
          </div>
        </div>
        <div class="t-container right">
          <div class="content">
            <h2>2010</h2>
            <p>
              Aptech HDSE (Graduated). <br />
              University of Greenwich (Started)
            </p>
          </div>
        </div>
        <div class="t-container left">
          <div class="content">
            <h2>2011</h2>
            <p>
              University of Greenwich (Graduated)
            </p>
          </div>
        </div>
        <div class="t-container right">
          <div class="content">
            <h2>2012</h2>
            <p>
              Japanese Alphabet
            </p>
          </div>
        </div>
        <div class="t-container left">
          <div class="content">
            <h2>2013</h2>
            <p>
              Japanese Vitec Level 2 – Fundamental Engineer Score At (580/800).
            </p>
          </div>
        </div>
        <div class="t-container right">
          <div class="content">
            <h2>2014</h2>
            <p>
              Japanese – N5 (Learned)
            </p>
          </div>
        </div>
        <div class="t-container left">
          <div class="content">
            <h2>2015</h2>
            <p>
              Japanese – N4 (Learned) <br />
              Udacity – Android Nano Degree (Started)
            </p>
          </div>
        </div>
        <div class="t-container right">
          <div class="content">
            <h2>2016</h2>
            <p>
              Udacity – Android Nano Degree (Graduated) <br />
              Free Code Camp [Frontend] (Started)
            </p>
          </div>
        </div>
        <div class="t-container left">
          <div class="content">
            <h2>2017</h2>
            <p>
              Free Code Camp [Frontend] (Loaded ~60%)
            </p>
          </div>
        </div>
        <div class="t-container right">
          <div class="content">
            <h2>2018</h2>
            <p>
              On going
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h2 class="post-list-heading">Skills</h2>
      <ul class="post-list">
        Coming Soon
      </ul>
    </div>
    <div class="tab-pane fade" id="work" role="tabpanel" aria-labelledby="work-tab">Coming soon</div>
    <div class="tab-pane fade" id="book" role="tabpanel" aria-labelledby="book-tab">Coming soon</div>
  </div>

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
